/*-----------------------HERO SECTION-------------------------*/
.hero {
    max-width: 1600px;
    margin-left: auto;
    margin-right: auto;
    padding: 200px 0;
    text-align: center;
    background-color: var(--hero-bg);
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/webstudio-hero-bg.jpg);
    background-repeat: no-repeat;
    background-position: center;
}
.hero .hero-title {
    margin-bottom: 30px;
    font-weight: 900;
    font-size: 44px;
    line-height: 1.36;
    letter-spacing: 0.06em;
    text-transform: uppercase;
    color: var(--primary-white);
}
.hero .hero-btn {
    display: inline-block;
    min-width: 216px;
    padding: 10px 32px;
    border-radius: 4px;
    font-family: inherit;
    font-weight: 700;
    font-size: 16px;
    line-height: 1.87;
    letter-spacing: 0.06em;
    color: var(--primary-white);
    background-color: var(--accent-color);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    transition: color var(--transition-time), background-color var(--transition-time);
}
.hero .hero-btn:hover,
.hero .hero-btn:focus {
    color: var(--accent-color);
    background-color: var(--primary-white);
}

/*-----------------------SECTION-------------------------*/
.section {
    padding-top:94px;
    padding-bottom:94px;
}
.section.no-padding {
    padding-top: 0px;
}
.section-title {
    margin-bottom: 50px;
    text-align: center;
    font-size: 36px;
    line-height: 1.17;
    color: var(--text-color-darkgrey);
}

/*-----FEATURES-----*/
.features {
    display: flex;
}
.features .features-item {
    width: 270px;
}
.features .features-item:not(:last-child) {
    margin-right: 30px;
}
.features-item .thumb {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 120px;
    margin-bottom: 30px;
    background-color: var(--bg-light-grey);
}
.features .title {
    margin-bottom: 10px;
    font-size: 14px;
    line-height: 1.14;
    text-transform: uppercase;
    color: var(--text-color-darkgrey);
}
.features .text {
    font-size: 14px;
    line-height: 1.7;
}

/*-----SERVICES-----*/
.services {
    display: flex;
    gap: 30px;
}
.services-item {
    position: relative;
}
.services .services-label {
    position:absolute;
    bottom:0;
    left:0;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 70px;
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: var(--primary-white);
    background-color: var(--grey-overlay);
}

/*-----TEAM-----*/
.team {
    background-color: var(--bg-light-grey);
}
.team-list {
    display: flex;
}
.team-list .team-item {
    width: 270px;
    text-align: center;
    border-radius: 0px 0px 4px 4px;
    background-color: var(--primary-white);
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
}
.team-list .team-item:not(:last-child) {
    margin-right: 30px;
}
.team-list .team-member {
    padding:30px 10px;
}
.team-list .team-title {
    margin-bottom: 10px;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.19;
    color: var(--text-color-darkgrey);
}
.team-list .team-text {
    margin-bottom:16px;
    font-size: 16px;
    line-height: 1.19;
}
.team-socials {
    display: flex;
    justify-content: center;
}
.team-socials .team-socials-item:not(:last-child) {
    margin-right: 10px;
}
.team-socials .team-socials-item a {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 44px;
    height: 44px;
    border-radius: 50%;
    color:var(--main-icons-color);
transition: color var(--transition-time), background-color var(--transition-time);
}
.team-socials .team-socials-item a:hover,
.team-socials .team-socials-item a:focus {
    color: var(--primary-white);
    background-color: var(--accent-color);
}
.team-socials-item .team-socials-icon {
    fill: currentColor;
}

/*-----CLIENTS-----*/
.clients {
    display: flex;
    justify-content: center;
}
.clients .client-item:not(:last-child) {
    margin-right: 30px;
}
.clients .client-item a {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 170px;
    height: 92px;
    border: 1px solid var(--main-icons-color);
    border-radius: 4px;
    color: var(--main-icons-color);
    transition: color var(--transition-time), border-color var(--transition-time);
}
.clients .client-item a:hover,
.clients .client-item a:focus {
    border-color: var(--accent-color);
    color: var(--accent-color);
}
.client-item .client-logo {
    fill:currentColor;
}


/*-----------------------PORTFOLIO-------------------------*/
/*-----FILTER BUTTONS-----*/
.filter {
    display: flex;
    margin-bottom: 34px;
    justify-content: center;
}
.filter .filter-item:not(:last-child) {
    margin-right: 8px;
}
.filter .filter-btn {
    padding: 6px 22px;
    text-align: center;
    border-radius: 4px;
    font-family: var(--font-roboto);
    font-weight: 500;
    font-size: 16px;
    line-height: 1.63;
    cursor: pointer;
    background-color: var(--bg-light-grey);
    transition: color var(--transition-time), background-color var(--transition-time), box-shadow var(--transition-time);
}

.filter > li:first-child .filter-btn {
    padding: 6px 25px;
}
.filter .filter-btn:hover,
.filter .filter-btn:focus {
    color: var(--primary-white);
    background-color: var(--accent-color);
    box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
    }

/*-----PROJECTS CARDS-----*/
.projects {
    display: flex;
    flex-wrap: wrap;
}
.projects .projects-item {
    width: calc((100% - 60px) / 3);
    margin-right: 30px;
    margin-bottom: 30px;
    background-color: var(--primary-white);
}
.projects .projects-item:nth-child(3n){
    margin-right: 0px;
}
.projects .projects-item:nth-last-child(-n + 3){
    margin-bottom: 0;
}
.projects-item  a.projects-link {
    display: block;
    text-decoration: none;
    transition: box-shadow var(--transition-time);
}
.projects-item a.projects-link:hover,
.projects-item a.projects-link:focus {
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
}
.projects-about {
    position:relative;
    overflow: hidden;
}
.projects-text {
    display: inline-block;
    position: absolute;
    top: 0;
    left:0;
    transform: translateY(100%);
    transition: transform var(--transition-time);
    width: 100%;
    height: 100%;
    padding: 63px 24px;
    font-size: 18px;
    line-height: 1.56;
    letter-spacing: 0.03em;
    color: var(--primary-white);
    background-color: var(--blue-overlay);
}
.projects-item a.projects-link:hover .projects-text,
.projects-item a.projects-link:focus .projects-text {
    transform: translateY(0);

}
.projects .project-desc {
    padding:20px 24px;
    border: 1px solid var(--border-light-grey);
    border-top: none;
}
.projects .projects-title {
    color: var(--text-color-darkgrey);
    font-size: 18px;
    line-height: 2;
    letter-spacing: 0.06em;
}
.projects .projects-type {
    color: var(--text-color-grey);
    font-size: 16px;
    line-height: 1.9;
}

/*-----------------------MODAL WINDOW-------------------------*/
.backdrop {
    position: fixed;
    top:0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: var(--backdrop);
    opacity: 1;
    transition: opacity var(--transition-time);
}
.backdrop.is-hidden {
    opacity: 0;
    pointer-events: none;
}
.backdrop.is-hidden .modal {
    transform: translate(-50%, -50%) scale(0.5);
}
.modal {
    position: absolute;
    top: 50%;
    left:50%;
    min-width: 528px;
    min-height: 581px;
    padding: 40px;
    border-radius: 4px;
    background: var(--primary-white);
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
    transform: translate(-50%, -50%) scale(1);
    transition: transform var(--transition-time);
}
.modal-close {
    position: absolute;
    top:8px;
    right:8px;
    width: 30px;
    height: 30px;
    border: 1px solid rgba(0, 0, 0, 0.1);
    border-radius: 50%;
    color: var(--logo-color-header);
    background: var(--primary-white);
}
.icon-close {
    fill: currentColor;
    transition: fill var(--transition-time);
}

.icon-close:hover,
.icon-close:focus {
    fill: var(--accent-color);
}
/*--------------MODAL WINDOW FORM---------------*/
.request-form-title {
    margin-bottom: 12px;
    font-size: 20px;
    font-weight: 700;
    line-height: 1.2;
    text-align: center;
    letter-spacing: 0.03em;
    color: var(--text-color-darkgrey);
}
.modal-field {
    margin-bottom: 10px;
}
.request-label {
    margin-bottom: 4px;
    font-size: 12px;
    line-height: 1.2;
    letter-spacing: 0.01em;
    color: var(--text-color-grey);
}
.request-form-group {
    position: relative;
}
.request-input {
    width: 100%;
    height: 40px;
    padding-left:42px;
    border: 1px solid rgba(33, 33, 33, 0.2);
    border-radius: 4px;
    outline: 1px solid transparent;
    transition: outline var(--transition-time);
}
.request-form-icon {
    position: absolute;
    top:50%;
    left:15px;
    display: inline-block;
    transform: translateY(-50%);
    fill: var(--text-color-darkgrey);
    transition: fill var(--transition-time);
}
.request-input:focus {
    outline: 1px solid var(--accent-color);
}
.request-input:focus+.request-form-icon {
    fill: var(--accent-color);
}
.modal-field-comment {
    margin-bottom: 20px;
}
.request-comment {
    width:100%;
    height:120px;
    padding: 12px 16px;
    border: 1px solid rgba(33, 33, 33, 0.2);
    border-radius: 4px;
    outline: 1px solid transparent;
    transition: outline var(--transition-time);
    cursor: pointer;
    resize: none;
}
.request-comment:hover,
.request-comment:focus {
    outline: 1px solid var(--accent-color);
}
.request-comment::placeholder {
    font-size: 12px;
    line-height: 1.2;
    letter-spacing: 0.01em;
    color: rgba(117, 117, 117, 0.5);
}
.modal-field-policy {
    margin-left:auto;
    margin-right:auto;
    margin-bottom: 30px;
}
.request-policy {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 14px;
    line-height: 1.7;
    letter-spacing: 0.03em;
    color: var(--text-color-grey);
}
.request-policy span {
    display: flex;
    align-items: center;
    justify-content: center;
    width:16px;
    height: 15px;
    border:2px solid var(--text-color-darkgrey);
    border-radius: 2px;
    margin-right: 8.38px;
    fill: transparent;
}
.policy-checkbox:checked + .request-policy span {
    background-color: var(--accent-color);
    border: none;
    fill: var(--primary-white);
}
.visually-hidden {
    border: 0;
    clip: rect(1px, 1px, 1px, 1px);
    -webkit-clip-path: inset(50%);
    clip-path: inset(50%);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
    word-wrap: normal!important;
}
a.policy {
    color: var(--accent-color);
}
.request-send-btn {
    display: block;
    width: 200px;
    height: 50px;
    margin-left: auto;
    margin-right: auto;
    border-radius: 4px;
    font-weight: 700;
    font-size: 16px;
    line-height: 1.9;
    letter-spacing: 0.06em;
    text-align: center;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    background-color: var(--accent-color);
    color: var(--primary-white);
    transition: color var(--transition-time), background-color var(--transition-time);
}
.request-send-btn:hover,
.request-send-btn:focus {
    color: var(--accent-color);
    background-color: var(--primary-white);
}