header {
    border-bottom: 1px solid $header-border;
}

.main-nav {
    @include centeredFlex();
}

nav {
    @include centeredFlex();
}

.site-nav {
    display: flex;
    margin-left: 93px;
}

.site-nav .site-nav-item:not(:last-child) {
    margin-right: 50px;
}

.site-nav .link {
    display: block;
    padding-top: 32px;
    padding-bottom: 32px;
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
    text-decoration: none;
    color: $text-color-darkgrey;
    transition: color $transition-time;

        &:hover,
        &:focus {
            color: $accent-color;
        }
}

.site-nav .link.current {
    color: $accent-color;
}

.current {
    position: relative;

        &::after {
            content: "";
            display: block;
            position: absolute;
            width: 100%;
            height: 4px;
            bottom: 0;
            border-radius: 2px;
            background-color: $accent-color;
        }
}

.contacts-list {
    display: flex;
    margin-left: auto;
}

.contacts-list .contacts-link {
    @include centeredFlex();
    padding-top: 32px;
    padding-bottom: 32px;
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
    text-decoration: none;
    color: $text-color-grey;
    transition: color $transition-time;

        &:hover,
        &:focus {
            color: $accent-color;
        }
}

.contacts-list .contacts-list-item:not(:last-child) {
    margin-right: 50px;
}



.icon-email,
.icon-telephone {
    margin-right: 10px;
    fill: currentColor;
}